* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 300;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  color: #ffffff;
  z-index: 100;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
.header__top {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__logo {
  height: 100%;
}
.header__logo img {
  height: 100%;
}
.header__contact {
  display: flex;
  font-size: 12px;
  font-weight: 300;
}
.header__contact img {
  height: 50%;
  margin-right: 20px;
}
.header__contact span {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 0;
  display: inline-block;
}
.header__contact__phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__contact__open {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__bottom {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__social {
  display: flex;
}
.header__social svg {
  width: 15px;
  height: 15px;
  fill: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

.header-scroll-desktop {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
}
.header-scroll-desktop .header__social svg {
  fill: black;
}
.header-scroll-desktop .header__top {
  display: none;
}
.header-scroll-desktop .header__bottom a {
  color: black;
  font-size: 12px;
  font-weight: 400;
}

.header-scroll-mobile {
  position: fixed !important;
  top: 0;
  left: 0;
  background: #ffffff;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
}

.header-sliding {
  transform: translate(0) !important;
}

.nav__list {
  display: flex;
  list-style: none;
}
.nav__item a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 14px;
}

.mobile-header {
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  display: none;
  align-items: center;
  z-index: 10;
}
.mobile-header__logo {
  height: 100%;
}
.mobile-header__logo img {
  height: 100%;
}

.nav-btn {
  width: 35px;
  height: 21px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.nav-btn__line {
  width: 100%;
  height: 2px;
  background: #343d4b;
}

.nav-btn-sliding {
  transform: translate(260px) rotate(180deg);
}

@media screen and (max-width: 992px) {
  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background: linear-gradient(to bottom, #fdabb7, #333c4a);
    z-index: 100;
    overflow: auto;
    transform: translate(-280px);
    transition: 0.5s ease-out;
  }
  .header__container {
    position: relative;
  }
  .header__top {
    flex-direction: column;
    height: initial;
    border: none;
  }
  .header__bottom {
    flex-direction: column;
    height: initial;
  }
  .header__logo {
    height: 100px;
  }
  .header__contact {
    flex-direction: column;
    margin: 10px 0 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    width: 100%;
    align-items: center;
  }
  .header__contact img {
    width: 30px;
  }
  .header__contact span {
    color: #ffffff;
    font-size: 20px;
  }
  .header__contact__phone {
    margin-bottom: 40px;
  }
  .header__social svg {
    margin: 30px 10px;
  }

  .nav {
    width: 100%;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__item {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .nav__item a {
    font-weight: 500;
    margin: 0;
  }

  .nav-close-btn {
    display: block;
    position: absolute;
    top: 44px;
    right: -44px;
    z-index: 1000;
  }

  .mobile-header {
    display: flex;
  }
}
/* WELCOME SCREEN */
.welcome-screen {
  width: 100%;
  background: url("../../img/welcome-bg.webp") no-repeat top center;
  background-size: cover;
}
.welcome-screen__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 25vh 0;
  display: flex;
  align-items: center;
}
.welcome-screen__box {
  flex: 1;
  padding: 30px;
}
.welcome-screen__box h2 {
  font-family: "Playfair Display", serif;
  color: #343d4b;
  font-size: 3em;
  font-weight: 200;
  line-height: 1;
}
.welcome-screen__box h2 span {
  color: #ffffff;
  font-size: 3em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.welcome-screen__box p {
  margin: 40px 0;
  color: #ffffff;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 300;
}
.welcome-screen__box .button {
  color: #343d4b;
  background: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px rgba(34, 34, 34, 0.2);
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s ease-out;
}
.welcome-screen__box .button:hover {
  background: #343d4b;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .welcome-screen {
    background: url("../../img/welcome-bg-mobile.webp") no-repeat top right;
  }
  .welcome-screen__box h2 {
    font-size: 8vw;
  }
  .welcome-screen__box p {
    width: 75%;
    font-weight: 500;
  }
  .welcome-screen__box:nth-child(2) {
    display: none;
  }
}
/* ABOUT US */
.about-us {
  margin: 10vh 0;
}
.about-us__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
.about-us__image {
  padding: 50px;
  display: flex;
  align-items: center;
  flex: 1;
}
.about-us__image img {
  width: 100%;
}
.about-us__text {
  padding: 5vw;
  displaY: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.about-us__text h1 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
}
.about-us__text h1 span {
  color: #1ebeb6;
  font-size: 3.5vw;
}
.about-us__text h4 {
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  font-weight: 800;
}
.about-us__text img {
  width: 300px;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .about-us__container {
    flex-direction: column-reverse;
  }
  .about-us__text h1 {
    font-size: 5vw;
  }
  .about-us__text h1 span {
    font-size: 8vw;
  }
  .about-us__text img {
    width: 200px;
  }
}
/* SERVICES OTHER */
.services-other {
  width: 100%;
  background: url("../../img/services-bg.webp") no-repeat center top;
  background-size: cover;
  color: #ffffff;
}
.services-other__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5vw 0;
  display: flex;
}
.services-other__image {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-other__image img {
  width: 90%;
}
.services-other__text {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3vw;
}
.services-other__text h2 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 3vw;
}
.services-other__text h2 span {
  font-size: 5em;
  color: #115278;
}
.services-other__text h2 span span {
  font-size: 0.5em;
}
.services-other__text ol {
  padding-left: 30px;
  color: #115278;
  font-weight: 400;
}
.services-other__text p {
  padding: 10px 0;
  margin-top: 30px;
  font-family: "Playfair Display", serif;
}
.services-other__text p:nth-of-type(1) {
  border-top: 1px dotted #ffffff;
}

@media screen and (max-width: 992px) {
  .services-other__container {
    flex-direction: column-reverse;
  }
  .services-other__image {
    padding: 15vw 0;
  }
}
/* SERVICES */
.services__container {
  width: 100%;
  max-width: 1440px;
  margin: 5vw auto 10vw auto;
  text-align: center;
}
.services__container .button {
  color: #ffffff;
  background: #343d4b;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px rgba(34, 34, 34, 0.2);
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s ease-out;
}
.services__container .button:hover {
  background: #ffffff;
  color: #343d4b;
}
.services__header {
  margin-bottom: 5vw;
}
.services__header h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  font-weight: 200;
}
.services__header h2 {
  font-family: "Playfair Display", serif;
  color: #1ebeb6;
  font-size: 3em;
}
.services__header p {
  width: 500px;
  margin: 0 auto;
  color: #808080;
}
.services__boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 3vw;
}
.services__box {
  padding: 2vw;
  line-height: 1.3;
  font-size: 14px;
}
.services__box img {
  width: 100px;
}
.services__box h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.7em;
  font-weight: 400;
  margin: 15px 0;
}
.services__box p {
  color: #808080;
  line-height: 1.5;
  height: 50px;
  width: 75%;
  margin: 0 auto;
}
.services__box a {
  text-decoration: none;
  color: #1ebeb6;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  margin-top: 15px;
  display: block;
}
.services__box a:hover {
  color: #343d4b;
}

@media screen and (max-width: 1440px) {
  .services__container {
    max-width: 992px;
  }
  .services__boxes {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .services__header h4 {
    font-size: 5vw;
  }
  .services__header h2 {
    font-size: 10vw;
  }
  .services__header p {
    width: 90%;
  }
  .services__boxes {
    grid-template-columns: 1fr;
  }
  .services__box {
    margin: 25px;
  }
}
/* SUBPAGE */
.subpage-title {
  background: url("../../img/subpage-title-bg.png") no-repeat bottom center;
  background-size: cover;
  padding: 200px 0;
  color: #ffffff;
}
.subpage-title__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}
.subpage-title h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
}
.subpage-title p {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .subpage-title {
    background: url("../../img/subpage-title-mobile-bg.png") no-repeat bottom right;
  }

  h1 {
    line-height: 1.2;
    margin-bottom: 30px;
  }

  p {
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  p {
    width: 75%;
  }
}
/* SUBPAGE SERVICES */
.subpage-services__container {
  width: 100%;
  max-width: 1440px;
  margin: 5vw auto;
  padding: 3vw;
  display: flex;
}
.subpage-services__main {
  flex: 7;
  padding-right: 8vw;
}
.subpage-services__main img {
  width: 100%;
}
.subpage-services__main h3 {
  font-family: "Playfair Display", serif;
  color: #1ebeb6;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.subpage-services__main h4 {
  font-family: "Playfair Display", serif;
  margin-bottom: 1vh;
}
.subpage-services__main p {
  margin-bottom: 20px;
}
.subpage-services__aside {
  flex: 3;
}
.subpage-services__aside__container {
  padding: 2vw;
  border: 12px solid rgba(0, 0, 0, 0.1);
}
.subpage-services__aside h2 {
  font-family: "Playfair Display", serif;
  color: #1ebeb6;
  font-size: 1.5em;
}
.subpage-services__aside p {
  font-size: 14px;
  margin: 30px 0;
}
.subpage-services__aside ul {
  list-style: none;
}
.subpage-services__aside ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.subpage-services__aside ul li a {
  text-decoration: none;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.subpage-services__aside ul li img {
  width: 25px;
}

@media screen and (max-width: 1280px) {
  .subpage-services__main {
    flex: 7;
  }
  .subpage-services__aside {
    flex: 4;
  }
}
@media screen and (max-width: 992px) {
  .subpage-services__main {
    width: 100%;
    padding: 0;
  }
  .subpage-services__main p {
    font-weight: 200;
  }
  .subpage-services__aside {
    display: none;
  }
}
/* FOOTER */
.footer {
  background: #1ebeb6;
  color: #ffffff;
  z-index: 1;
}
.footer__top-radius {
  position: relative;
}
.footer__top-radius img {
  position: absolute;
  top: 0;
  width: 100%;
}
.footer__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.footer__header {
  font-family: "Playfair Display", serif;
  text-align: center;
  line-height: 1;
  position: relative;
  padding: 7vw 0;
}
.footer__header h3 {
  font-size: 2.5em;
  font-weight: 200;
  color: #343d4b;
  position: relative;
  z-index: 10;
}
.footer__header p {
  color: #ffffff;
  font-size: 4.5em;
  font-weight: 600;
  position: relative;
  z-index: 10;
}
.footer__decoration {
  position: absolute;
  top: 3vw;
  left: 50%;
  width: 300px;
  z-index: 1;
}
.footer__decoration img {
  width: 100%;
}
.footer__contact {
  max-width: 1000px;
  margin: 0 auto 5vw auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 10;
}
.footer__box {
  display: inline-block;
}
.footer__box img {
  margin-right: 20px;
  width: 50px;
}
.footer__details {
  display: inline-block;
  line-height: 1.3;
}
.footer__details h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.footer__details span {
  display: block;
  font-size: 14px;
}
.footer__footnote {
  display: flex;
  justify-content: space-between;
  border-top: 1px dotted rgba(255, 255, 255, 0.3);
  padding: 25px;
}
.footer__footnote a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  margin-left: 20px;
}

@media screen and (max-width: 1280px) {
  .footer__footnote {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .footer {
    position: relative;
  }
  .footer__header {
    padding: 100px 0;
  }
  .footer__footnote {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__nav {
    margin-bottom: 30px;
  }
  .footer__nav a {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    overflow: hidden;
  }
  .footer__header p {
    font-size: 10vw;
  }
  .footer__contact {
    flex-direction: column;
    align-items: center;
  }
  .footer__box {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__box img {
    display: block;
    margin: 0 auto 15px auto;
  }
}

/*# sourceMappingURL=style.css.map */
