@use "modules/modules";

@mixin button($bg-color, $font-color) {
    color: $font-color;
    background: $bg-color;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px rgba(34,34,34,.2);
    font-size: 14px;
    font-weight: 400;
    transition: .3s ease-out;
    display: inline-block;

    &:hover {
        background: $font-color;
        color: $bg-color;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: modules.$basic-font;
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 300;
}

/* HEADER */
.header {
    position: absolute;
    width: 100%;
    color: modules.$white;
    z-index: 100;

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 30px;
    }
    &__top {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
    &__logo {
        height: 100%;
        display: flex;
        align-items: center;

        a {
            height: 100%;
            display: flex;
            align-items: center;

            img {
                height: 70%
            }
        }

    }
    &__contact {
        display: flex;
        font-size: 12px;
        font-weight: 300;

        img {
            height: 50%;
            margin-right: 20px;
        }
        span {
            font-family: modules.$title-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 0;
            display: inline-block;
        }
        &__phone {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &__open {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &__bottom {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social {
        display: flex;

        svg {
            width: 15px;
            height: 15px;
            fill: modules.$white;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

.header-scroll-desktop {
    position: fixed;
    top: 0;
    left: 0;
    background: modules.$white;
    width: 100%;
    transition: .5s;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 1px 8px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 1px 8px 0px rgba(50, 50, 50, 0.2);

    .header__social svg { fill: black; }
    .header__top { display: none; }
    .header__bottom a {
        color: black;
        font-size: 12px;
        font-weight: 400;
    }
}

.header-scroll-mobile {
    position: fixed !important;
    top: 0;
    left: 0;
    background: modules.$white;
    transition: .5s;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 1px 8px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 1px 8px 0px rgba(50, 50, 50, 0.2);
}

.header-sliding {
    transform: translateX(0) !important;
    transition: .5s ease-out;
}

.nav {

    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        
        a {
            color: modules.$white;
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 20px;
            font-size: 14px;
        }
    }
}

.mobile-header {
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: none;
    align-items: center;
    z-index: 10;

    &__logo {
        height: 100%;

        img { height: 100%; }
    }
}

.nav-btn {
    width: 35px;
    height: 21px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: .5s ease-out;

    &__line {
        width: 100%;
        height: 2px;
        background: modules.$gray;
    }
}

.nav-btn-sliding {
    transform: translate(260px) rotate(180deg);
}

@media screen and (max-width: 992px) {

    .header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        height: 100vh;
        background: linear-gradient(to bottom, #fdabb7, #333c4a);
        z-index: 100;
        overflow: auto;
        transform: translateX(-280px);
        transition: .5s ease-out;

        &__container {
            position: relative;
        }
        &__top {
            flex-direction: column;
            height: initial;
            border: none;
        }
        &__bottom {
            flex-direction: column;
            height: initial;
        }
        &__logo { height: 100px; }
        &__contact {
            flex-direction: column;
            margin: 10px 0 25px 0;
            text-align: center;
            color: rgba(255, 255, 255, .5);
            font-weight: 500;
            width: 100%;
            align-items: center;

            img { width: 30px; }
            span { 
                color: modules.$white;
                font-size: 20px;
            }

            &__phone { margin-bottom: 40px; }
        }
        &__social {
            
            svg {
                margin: 30px 10px;
            }
        }
    }

    .nav {
        width: 100%;

        &__list { flex-direction: column; }
        &__item {
            text-align: center;
            padding: 10px 0;
            border-top: 1px solid rgba(255, 255, 255, .3);
            
            a {
                font-weight: 500;
                margin: 0;
            }
        }
    }

    .nav-close-btn {
        display: block;
        position: absolute;
        top: 44px;
        right: -44px;
        z-index: 1000;
    }

    .mobile-header {
        display: flex; 

        &__logo {
            height: 100%;

            a {
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    height: 70%;
                }
            }
        }
    }
}

/* WELCOME SCREEN */
.welcome-screen {
    width: 100%;
    background: url("../../img/welcome-bg.webp") no-repeat top center;
    background-size: cover;

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 25vh 0;
        display: flex;
        align-items: center;
    }
    &__box {
        flex: 1;
        padding: 30px;

        h2 {
            font-family: modules.$title-font;
            color: modules.$gray;
            font-size: 3em;
            font-weight: 200;
            line-height: 1;

            span {
                color: modules.$white;
                font-size: 3em;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
            }
        }
        p {
            margin: 40px 0;
            color: modules.$white;
            line-height: 1.8;
            letter-spacing: 1px;
            font-weight: 300;
        }
        .button { @include button(modules.$white, modules.$gray); }
    }
}

@media screen and (max-width: 992px) {

    .welcome-screen {
        background: url("../../img/welcome-bg-mobile.webp") no-repeat top right;

        &__box {

            h2 { font-size: 8vw; }
            p {
                width: 75%;
                font-weight: 500;
            }
        }
        &__box:nth-child(2) { display: none; }
    }
}

/* ABOUT US */
.about-us {
    margin: 10vh 0;

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
    }
    &__image {
        padding: 50px;
        display: flex;
        align-items: center;
        flex: 1;

        img { width: 100%; }
    }
    &__text {
        padding: 5vw;
        displaY: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        h1 {
            font-family: modules.$title-font;
            font-size: 2em;

            span {
                color: modules.$green;
                font-size: 3.5vw;
            }
        }
        h4 {
            font-family: modules.$title-font;
            margin-top: 20px;
            font-weight: 800;
        }
        img {
            width: 300px;
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 992px) {

    .about-us {

        &__container { flex-direction: column-reverse; }
        &__text {
            
            h1 {
                font-size: 5vw;
                
                span { font-size: 8vw; }
            }
            img { width: 200px; }
        }
    }
}

/* SERVICES OTHER */
.services-other {
    width: 100%;
    background: url("../../img/services-bg.webp") no-repeat center top;
    background-size: cover;
    color: modules.$white;

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 5vw 0;
        display: flex;
    }
    &__image {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img { width: 90%; }
    }
    &__text {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3vw;

        h2 {
            color: modules.$white;
            font-family: modules.$title-font;
            font-size: 1.5em;
            line-height: 1.2;
            margin-bottom: 3vw;

            span {
                font-size: 5em;
                color: modules.$blue;

                span { font-size: .5em; }
            }
        }
        ol {
            padding-left: 30px;
            color: modules.$blue;
            font-weight: 400;
        }
        p {
            padding: 10px 0;
            margin-top: 30px;
            font-family: modules.$title-font;
        }
        p:nth-of-type(1) { border-top: 1px dotted modules.$white; }
    }
}

@media screen and (max-width: 992px) {

    .services-other {

        &__container { flex-direction: column-reverse; }
        &__image { padding: 15vw 0; }
    }
    
}

/* SERVICES */
.services {

    &__container {
        width: 100%;
        max-width: 1200px;
        margin: 5vw auto 10vw auto;
        text-align: center;

        .button { @include button(modules.$gray, modules.$white); }
    }

    &__header {
        margin-bottom: 5vw;

        h4 {
            font-family: modules.$title-font;
            font-size: 1.5em;
            font-weight: 200;
        }
        h2 {
            font-family: modules.$title-font;
            color: modules.$green;
            font-size: 3em;
        }
        p {
            width: 500px;
            margin: 0 auto;
            color: modules.$lightgray;
        }
    }

    &__boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 3vw;
    }

    &__box {
        padding: 2vw;
        line-height: 1.3;
        font-size: 14px;

        img { width: 100px; }
        h3 {
            font-family: modules.$title-font;
            font-size: 1.7em;
            font-weight: 400;
            margin: 15px 0;
        }
        p {
            color: modules.$lightgray;
            line-height: 1.5;
            height: 50px;
            width: 75%;
            margin: 0 auto;
        }

        a {
            text-decoration: none;
            color: modules.$green;
            font-family: modules.$title-font;
            font-weight: 800;
            margin-top: 15px;
            display: block;

            &:hover { color: modules.$gray; }
        }
    }
}

@media screen and (max-width: 1440px) {

    .services {

        &__container { max-width: 992px; }
        &__boxes { grid-template-columns: 1fr 1fr; }
    }
}

@media screen and (max-width: 768px) {

    .services {

        &__header {
            h4 { font-size: 5vw; }
            h2 { font-size: 10vw; }
            p { width: 90%; }
        }
        &__boxes { grid-template-columns: 1fr; }
        &__box { margin: 25px; }
    }
}

/* SUBPAGE */
.subpage-title {
    background: url("../../img/subpage-title-bg.webp") no-repeat bottom center;
    background-size: cover;
    padding: 200px 0;
    color: modules.$white;

    &__container {
        width: 100%;
        max-width: 1440px;
        height: 200px;
        margin: 0 auto;
        padding: 30px;
    }
    h1 {
        font-family: modules.$title-font;
        font-size: 3.5em;
    }
    p { width: 50%; }
}

.subpage-title-services {
    background: url("../../img/subpage-title-bg.webp") no-repeat bottom center;
    background-size: cover;
}

@media screen and (max-width: 992px) {
    
    .subpage-title {
        background: url("../../img/subpage-title-mobile-bg.webp") no-repeat top right;
        background-size: cover;
        
        h1 {
            line-height: 1.2;
            margin-bottom: 30px;
            font-size: 10vw;
        }
        p { font-weight: 500; }
    }

    .subpage-title-services {
        background: url("../../img/subpage-title-mobile-bg.webp") no-repeat top right;
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {

    .subpage-title {
        p { width: 75%; }
    }
}

.subpage {

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
    h1 {
        font-family: modules.$title-font;
        color: modules.$green;
        font-size: 2em;
        margin-bottom: 25px;
    }
    h3 {
        font-family: modules.$title-font;
        font-size: 1.2em;
    }
    p { margin-bottom: 20px; }
}

.subpage-dental-care {

    &__item { display: flex; }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding: 30px;

        img { width: 100%; }
        h2 {
            font-family: modules.$title-font;
            color: modules.$green;
            font-size: 2.4em;
            line-height: 1.4;
        }
        h3 {
            margin-bottom: 15px;
        }
        ol, ul {
            padding: 0 0 2vw 2vw;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 992px) {

    .subpage-dental-care {

        &__item {
            flex-direction: column-reverse;
        }
        &__item:nth-of-type(2) {
            flex-direction: column;
        }
    }
}

.subpage-services {
    
    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 5vw auto;
        padding: 3vw;
        display: flex;
    }
    &__main {
        flex: 7;
        padding-right: 8vw;

        img { width: 100%; }
        h3 {
            font-family: modules.$title-font;
            color: modules.$green;
            font-size: 1.2em;
            margin-bottom: 15px;
        }
        h4 {
            font-family: modules.$title-font;
            margin-bottom: 1vh;
        }
        p {
            margin-bottom: 20px;

            a {
                color: modules.$green;
            }
        }
        ul { padding: 0 0 30px 30px; }
    }
    &__aside {
        flex: 3;

        &__container {
            padding: 2vw;
            border: 12px solid rgba(0, 0, 0, .1);
        }
        h2 {
            font-family: modules.$title-font;
            color: modules.$green;
            font-size: 1.5em;
        }
        p {
            font-size: 14px;
            margin: 30px 0;
        }

        ul {
            list-style: none;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                border-bottom: 1px solid rgba(0, 0, 0, .1);

                a {
                    text-decoration: none;
                    color: modules.$lightgray;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: modules.$title-font;
                }
                img { width: 25px; }
            }
        }
    }
}

@media screen and (max-width: 1280px) {

    .subpage-services {
    
        &__main { flex: 7; }
        &__aside { flex: 4; }  
    }  
}

@media screen and (max-width: 992px) {

    .subpage-services {
    
        &__main {
            width: 100%;
            padding: 0;

            p { font-weight: 200; }
        }
        &__aside { display: none; }  
    }  
}

.subpage-my-job {

    &__container { padding: 100px 30px; }
    &__certificate {
        text-align: center;

        img {
            width: 768px;
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 768px) {

    .subpage-my-job {

        &__certificate {
    
            img {
                width: 100%;
            }
        }
    }
}

/* BLOG */
.blog {

    &__container {
        width: 100%;
        max-width: 1200px;
        margin: 50px auto 0 auto;
    }

    &__article {
        padding: 60px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        h2 {
            font-family: modules.$title-font;
            color: modules.$green;
            font-size: 2em;
            font-weight: 200;
            margin-bottom: 30px;
            text-align: center;
        }
        img { width: 100%; }
        span {
            font-size: 14px;
            font-style: italic;
            display: block;
            text-align: center;
        }
        .button {
            @include button(modules.$green, modules.$white);
        }
        &:last-child {
            border: none;
        }
        &__introduction {
            text-align: center;

            p {
                width: 75%;
                margin: 30px auto;
            }
        }
        &__description {
            width: 75%;
            margin: 50px auto;

            p {
                margin-bottom: 20px;
            }

            ul {
                padding-left: 30px;
            }
            h3 {
                font-family: modules.$title-font;
            }
        }
    }
}

/* CONTACT */
.contact {

    h2 {
        font-family: modules.$title-font;
        color: modules.$green;
        font-size: 2em;
        font-weight: 200;
        margin: 80px 0 50px 0;
        text-align: center;
    }

    &__map iframe {
        width: 100%;
        height: 500px;
        transform: translateY(9px);
    }
}

/* FOOTER */
.footer {
    background: modules.$green;
    color: modules.$white;
    z-index: 1;

    &__top-radius {
        position: relative;
        
        img {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
    &__header {
        font-family: modules.$title-font;
        text-align: center;
        line-height: 1;
        position: relative;
        padding: 7vw 0;

        h3 {
            font-size: 2.5em;
            font-weight: 200;
            color: modules.$gray;
            position: relative;
            z-index: 10;
        }
        p {
            color: modules.$white;
            font-size: 4.5em;
            font-weight: 600;
            position: relative;
            z-index: 10;
            margin: 0 auto;
        }
        a {
            text-decoration: none;
            color: modules.$white;
        }
    }
    &__decoration {
        position: absolute;
        top: 3vw;
        left: 50%;
        width: 300px;
        z-index: 1;

        img { width: 100%; }
    }
    &__contact {
        max-width: 1000px;
        margin: 0 auto 5vw auto;
        display: flex;
        justify-content: space-around;
        position: relative;
        z-index: 10;
    }
    &__box {
        display: inline-block;

        img {
            margin-right: 20px;
            width: 50px;
        }
    }
    &__details {
        display: inline-block;
        line-height: 1.3;

        h3 {
            font-family: modules.$title-font;
            font-size: 1.4em;
            font-weight: 200;
            letter-spacing: 0;
            margin-bottom: 10px;
        }
        span {
            display: block;
            font-size: 14px;
        }
    }
    &__quote {
        text-align: center;
        margin-bottom: 30px;

        svg {
            width: 15px;
            height: 15px;
            margin: 20px 5px 0 5px;
            fill: modules.$gray;
            cursor: pointer;
        }
    }
    &__footnote {
        display: flex;
        justify-content: space-between;
        border-top: 1px dotted rgba(255, 255, 255, .3);
        padding: 25px;

        a {
            text-decoration: none;
            color: modules.$white;
            font-size: 14px;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 1280px) {

    .footer {

        &__footnote {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}

@media screen and (max-width: 992px) {

    .footer {
        position: relative;

        &__header { padding: 100px 0; }
        &__footnote {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__copyright { text-align: center; }
        &__nav {
            margin-bottom: 30px;

            a {
                display: block;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .footer {
        overflow: hidden;

        &__header {
            
            p { font-size: 10vw; }
        }
        &__contact {
            flex-direction: column;
            align-items: center;
        }
        &__box {
            text-align: center;
            margin-bottom: 20px;

            img {
                display: block;
                margin: 0 auto 15px auto;
            }
        }
    }
}