@use "modules/modules";

@mixin button($bg-color, $font-color) {
    color: $font-color;
    background: $bg-color;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px rgba(34,34,34,.2);
    font-size: 14px;
    font-weight: 400;
    transition: .3s ease-out;

    &:hover {
        background: $font-color;
        color: $bg-color;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: modules.$basic-font;
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 300;
}

/* HEADER */
.header {
    position: absolute;
    width: 100%;
    color: modules.$white;

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 30px;
    }
    &__top {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
    &__logo {
        height: 100%;

        img {
            height: 100%;
        }
    }
    &__contact {
        display: flex;
        font-size: 12px;
        font-weight: 300;

        img {
            height: 50%;
            margin-right: 20px;
        }
        span {
            font-family: modules.$title-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 0;
            display: inline-block;
        }
        &__phone {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &__open {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &__bottom {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social {
        display: flex;

        svg {
            width: 15px;
            height: 15px;
            fill: modules.$white;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

.nav {

    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        
        a {
            color: modules.$white;
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 20px;
            font-size: 14px;
        }
    }
}

.mobile-header {
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: none;
    align-items: center;

    &__logo {
        height: 100%;

        img {
            height: 100%;
        }
    }
}

.nav-btn {
    width: 35px;
    height: 21px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;

    &__line {
        width: 100%;
        height: 2px;
        background: modules.$gray;
    }
}

@media screen and (max-width: 992px) {

    .header {
        display: none;
    }
    .mobile-header {
        display: flex;
    }
}

/* WELCOME SCREEN */
.welcome-screen {
    width: 100%;
    background: url("../../img/welcome-bg.png") no-repeat top center;
    background-size: cover;

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 25vh 0;
        display: flex;
        align-items: center;
    }
    &__box {
        flex: 1;
        padding: 30px;

        h2 {
            font-family: modules.$title-font;
            color: modules.$gray;
            font-size: 3em;
            font-weight: 200;
            line-height: 1;

            span {
                color: modules.$white;
                font-size: 3em;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
            }
        }
        p {
            margin: 40px 0;
            color: modules.$white;
            line-height: 1.8;
            letter-spacing: 1px;
            font-weight: 300;
        }
        .button {
            @include button(modules.$white, modules.$gray);
        }
    }
}

@media screen and (max-width: 992px) {

    .welcome-screen {
        background: url("../../img/welcome-bg-mobile.png") no-repeat top right;

        &__box {

            h2 {
                font-size: 8vw;
            }
            p {
                width: 75%;
                font-weight: 500;
            }
        }
        &__box:nth-child(2) {
            display: none;
        }
    }
}

/* ABOUT US */
.about-us {
    margin: 10vh 0;

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
    }
    &__image {
        padding: 50px;
        display: flex;
        align-items: center;
        flex: 1;

        img {
            width: 100%;
        }
    }
    &__text {
        padding: 5vw;
        displaY: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        h1 {
            font-family: modules.$title-font;
            font-size: 2em;

            span {
                color: modules.$green;
                font-size: 3.5vw;
            }
        }
        h4 {
            font-family: modules.$title-font;
            margin-top: 20px;
            font-weight: 800;
        }
        img {
            width: 300px;
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 992px) {

    .about-us {

        &__container {
            flex-direction: column-reverse;
        }
        &__text {
            font-size: 2vw;

            h1 {

                span {
                    font-size: 8vw;
                }
            }
            img {
                width: 200px;
            }
        }
    }
}

/* SERVICES */
.services {
    width: 100%;
    background: url("../../img/services-bg.png") no-repeat center top;
    background-size: cover;
    color: modules.$white;

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        //border: 1px solid red;
    }
    &__other {
        display: flex;
        padding: 5vw 0;

        &__image {
            display: flex;
            align-items: center;
            flex: 1;
            //border: 1px solid red;

            img {
                width: 100%;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            padding: 0 3vw;
            //border: 1px solid red;

            h2 {
                color: modules.$white;
                font-family: modules.$title-font;
                font-size: 1.5em;
                line-height: 1.2;
                margin-bottom: 3vw;

                span {
                    font-size: 5em;
                    color: modules.$blue;

                    span {
                        font-size: .5em;
                    }
                }
            }

            ol {
                padding-left: 30px;
                color: modules.$blue;
                font-weight: 400;
            }

            p {
                padding: 10px 0;
                margin-top: 30px;
                font-family: modules.$title-font;
            }

            p:nth-of-type(1) {
                border-top: 1px dotted modules.$white;
            }
        }
    }
}